# Sampling

##### Some times we have to reduce data in our dataset or split the data in to two or more partitrions.
##### reason why we have to do this, Data set will larg  or hold data to later use. We have different types of sampling methods.

### 01.Simple Random Sampling (Sampling without replacement)
### 02.Sampling with replacement
### 03.Stratified random sampling

In [9]:
import pandas as pd
cars = pd.read_csv('data.csv')
cars.head()

          Car       Model  Volume  Weight    CO2
0      Toyoty        Aygo  1000.0   790.0   99.0
1  Mitsubishi  Space Star  1200.0  1160.0   95.0
2       Skoda      Citigo  1000.0   929.0   95.0
3        Fiat         500   900.0   865.0   90.0
4        Mini      Cooper  1500.0  1140.0  105.0

## Split data using Random Sapmling

#### Before split data we must sepatrate dependent variable from the independent variable
##### Asume CO2 column as dependent variable and create dataframe called Y based on that column alone.

In [14]:
response ='CO2'
y = cars[[response]]
y.head()

     CO2
0   99.0
1   95.0
2   95.0
3   90.0
4  105.0

#### Create a dataframe of ther independent variables, Create a list

In [18]:
predictors = list(cars.columns)
predictors

['Car', 'Model', 'Volume', 'Weight', 'CO2']

In [20]:
predictors.remove(response)
predictors

['Car', 'Model', 'Volume', 'Weight']

##### Using predictors create datafranme called x based on the remaining column in the list

In [24]:
x = cars[predictors]
x.head()

          Car       Model  Volume  Weight
0      Toyoty        Aygo  1000.0   790.0
1  Mitsubishi  Space Star  1200.0  1160.0
2       Skoda      Citigo  1000.0   929.0
3        Fiat         500   900.0   865.0
4        Mini      Cooper  1500.0  1140.0

### Split data

In [27]:
from sklearn.model_selection import train_test_split

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x, y)

##### x_train dataset hold independent variable in the train dataset (it has 27 rows and 4 columns

In [34]:
x_train.shape

(27, 4)

##### x_test dataset hold dependent variable in the train dataset (it has 9 rows and 4 columns

In [39]:
x_test.shape

(9, 4)

In [43]:
y_train.shape

(27, 1)

In [45]:
y_test.shape

(9, 1)

## Split data using Stratified Random Sampling

##### 90% of the data (test_size=1 - 0.1 = 0.9) goes into x_train and y_train (training data)
##### 10% of the data goes into x_test and y_test (testing data).

In [69]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, random_state = 20)

In [75]:
x['Weight'].value_counts(normalize = True)

Weight
1365.0    0.088235
929.0     0.058824
1112.0    0.058824
1415.0    0.058824
790.0     0.029412
1428.0    0.029412
1405.0    0.029412
1390.0    0.029412
1235.0    0.029412
1746.0    0.029412
1605.0    0.029412
1705.0    0.029412
1523.0    0.029412
1725.0    0.029412
1490.0    0.029412
1465.0    0.029412
1119.0    0.029412
1328.0    0.029412
1160.0    0.029412
1280.0    0.029412
1326.0    0.029412
1252.0    0.029412
990.0     0.029412
980.0     0.029412
1150.0    0.029412
1109.0    0.029412
1140.0    0.029412
865.0     0.029412
1395.0    0.029412
Name: proportion, dtype: float64

In [79]:
x_test['Weight'].value_counts( normalize = True)

Weight
1140.0    0.25
1415.0    0.25
1252.0    0.25
1160.0    0.25
Name: proportion, dtype: float64

In [91]:
x_train, x_test, y_train, y_test = train_test_split(x, y, 
                                                    test_size = 0.1, 
                                                    random_state = 20,
                                                    stratify= x['Weight']
                                                   )

In [93]:
x_test['Weight'].value_counts(normalize = True)

Weight
1140.0    0.25
1415.0    0.25
1252.0    0.25
1160.0    0.25
Name: proportion, dtype: float64