## Discribe a data frame

In [44]:
import pandas as pd
washers =  pd.read_csv("survay.csv")

### Information about the dataset

In [27]:
washers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50985 entries, 0 to 50984
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         50985 non-null  int64
 1   Industry_aggregation_NZSIOC  50985 non-null  object
 2   Industry_code_NZSIOC         50985 non-null  object
 3   Industry_name_NZSIOC         50985 non-null  object
 4   Units                        50985 non-null  object
 5   Variable_code                50985 non-null  object
 6   Variable_name                50985 non-null  object
 7   Variable_category            50985 non-null  object
 8   Value                        50985 non-null  object
 9   Industry_code_ANZSIC06       50985 non-null  object
dtypes: int64(1), object(9)
memory usage: 3.9+ MB

### High level overview of the dataset

In [24]:
washers.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2023,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
1,2023,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
2,2023,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
3,2023,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
4,2023,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...

### Discribe spesific column

In [40]:
washers[['Year']].describe()

               Year
count  50985.000000
mean    2018.000000
std        3.162309
min     2013.000000
25%     2015.000000
50%     2018.000000
75%     2021.000000
max     2023.000000

In [50]:
washers[['Year']].value_counts()

Year
2013    4635
2014    4635
2015    4635
2016    4635
2017    4635
2018    4635
2019    4635
2020    4635
2021    4635
2022    4635
2023    4635
Name: count, dtype: int64

In [52]:
washers[['Year']].value_counts(normalize =True)

Year
2013    0.090909
2014    0.090909
2015    0.090909
2016    0.090909
2017    0.090909
2018    0.090909
2019    0.090909
2020    0.090909
2021    0.090909
2022    0.090909
2023    0.090909
Name: proportion, dtype: float64

In [54]:
washers[['Year']].mean()

Year    2018.0
dtype: float64

In [56]:
washers.groupby('Value')[['Year']].mean()

               Year
Value
-1      2016.375000
-10     2018.000000
-11     2015.000000
-112    2023.000000
-12     2017.666667
...             ...
9994    2021.000000
9995    2021.000000
999900  2023.000000
C       2017.592560
S       2015.888889

[13673 rows x 1 columns]